@import "tailwindcss";

@theme {
  /* Colors usage: bg-brand-primary, text-brand-gray, etc */
  --color-brand-primary: #8a2025;
  --color-brand-gray: #242323;

  /* Changes default fonts. Usage: font-sans, font-cursive, etc */
  --font-sans: "Nunito Sans", sans-serif;
  --font-cursive: "Caveat", cursive;
  --font-display: "Caveat", cursive;
}
